@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer{
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  

}

.footer{
  align-items: flex-end;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}

.left-links{
  display: flex;
  gap:20px;
  
}

.right-links{
  display: flex;
  margin-left: auto;
  gap:20px;
}

ul {
  list-style-type: none;
  
}

a{
  text-decoration: none;
  color: grey;
}

/* .content{
  margin-top: auto;
  margin-left: auto;
} */

.content{
  height:80vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
